---
title: 客户案例 - 杭州财人汇网络有限公司
---

{% include head.html %}
{% include header.html %}
 <div class="case-content">
  <ul class="case-txt clearfix">
    <li><img src="../images/trader/haitong.png"></li>
    <li class="border"><img src="../images/trader/zhongjin.png"></li>
    <li><img src="../images/trader/dongfang.png"></li>

    <li><img src="../images/trader/zheshang.png"></li>
    <li class="border"><img src="../images/trader/caitong.png"></li>
    <li><img src="../images/trader/caifu.png"></li>

    <li><img src="../images/trader/huachuang.png"></li>
    <li class="border"><img src="../images/trader/xinan.png"></li>
    <li><img src="../images/trader/guojin.png"></li>

    <li><img src="../images/trader/guohai.png"></li>
    <li class="border"><img src="../images/trader/xibu.png"></li>
    <li><img src="../images/trader/xingye.png"></li>

    <li><img src="../images/trader/taipingyang.png"></li>
    <li class="border"><img src="../images/trader/xinshidai.png"></li>
    <li><img src="../images/trader/dongbei.png"></li>

    <li><img src="../images/trader/kaiyuan.png"></li>
    <li class="border"><img src="../images/trader/hengtai.png"></li>
    <li><img src="../images/trader/jianghai.png"></li>

    <li><img src="../images/trader/wanlian.png"></li>
    <li class="border"><img src="../images/trader/shanxi.png"></li>
    <li><img src="../images/trader/xiangcai.png"></li>

    <li><img src="../images/trader/huaxin.png"></li>
    <li class="border"><img src="../images/trader/huajin.png"></li>
    <li><img src="../images/trader/caida.png"></li>

    <li><img src="../images/trader/zhongyuan.png"></li>
    <li class="border"><img src="../images/trader/datong.png"></li>
    <li><img src="../images/trader/jinyuan.png"></li>
  </ul>
 </div>
 <script type="text/javascript">
  $(document).ready(function(){ 
      $('.anli').addClass('checked');
  });
  </script>
{% include footer.html %}