---
title: 招聘 - 杭州财人汇网络有限公司
---

{% include head.html %}
{% include header.html %}
 <div class="employ-content">
    <div class="banner"></div>
    <div class="main clearfix">
        <div class="left-content">
            <h1>职位</h1>
            <ul id="employ_content">
                <li><a class="cpjl current" href="javascript:void(0)">产品经理</a></li>
                <li><a class="rjcs" href="javascript:void(0)">软件测试工程师</a></li>
                <li><a class="sqjszc" href="javascript:void(0)">售前技术支持工程师</a></li>
                <li><a class="qdkf" href="javascript:void(0)">前端开发工程师</a></li>
                <li><a class="java" href="javascript:void(0)">JAVA开发工程师</a></li>
                <li><a class="rjssgc" href="javascript:void(0)">软件实施工程师</a></li>
            </ul>
        </div>
        <div class="right-content">
            <div class="cpjl-content e-content">
                <h2>产品经理</h2>
                <div class="employ-txt">
                    <b>岗位职责</b>
                    <ul>
                        <li>1、负责券商互联网金融产品、移动端产品的规划、设计和管理；</li>
                        <li>2、负责产品文档编写，与UI设计师、开发团队合作，推进并跟进项目实施；</li>
                        <li>3、分析行业同类产品，提供应对方案，对产品升级创新提出建议。</li>
                    </ul>
                </div>
                 <div class="employ-txt">
                    <b>任职资格要求</b>
                    <ul>
                        <li>1、2年以上的互联网产品设计经验，对互联网/移动互联网有热忱，对产品设计有激情；</li>
                        <li>2、对用户体验感受敏锐，善于分析用户的需求和情感；</li>
                        <li>3、具备独立撰写产品文档的能力，对交互设计有深入的了解；</li>
                        <li>4、具备较强的逻辑思维能力，良好审美，创新能力，数据分析能力和语言表达能力。</li>
                    </ul>
                </div>  
            </div>
            <div class="rjcs-content  e-content" style="display:none">
                <h2>软件测试工程师</h2>
                <div class="employ-txt">
                    <b>岗位职责</b>
                    <ul>
                        <li>负责项目产品的测试工作，分析产品设计与需求，制定测试方案，建立测试环境与计划，为开发、运营推广提供QA支持。</li>
                    </ul>
                </div>
                 <div class="employ-txt">
                    <b>任职资格要求</b>
                    <ul>
                        <li>1、2年以上B/S结构软件产品测试经验，熟悉软件功能测试、性能测试流程；</li>
                        <li>2、熟悉压力、性能的常规测试手段，熟练掌握loadrunner等测试工具，能对产品进行压力、性能测试及分析；</li>
                        <li>3、熟悉LINUX操作系统，能够独立进行tomcat配置；</li>
                        <li>4、熟悉ORACLE 数据库，并能熟练编写SQL语句生。</li>
                    </ul>
                </div>  
            </div>
            <div class="sqjszc-content  e-content" style="display:none;">
                <h2>售前技术支持工程师</h2>
                <div class="employ-txt">
                    <b>岗位职责</b>
                    <ul>
                        <li>1、面向金融行业客户收集、整理专业产品需求，结合公司产品为客户提供整体解决方案；</li>
                        <li>2、配合市场和销售进行售前支持；</li>
                        <li>3、针对各类客户需求对公司的产品改进以及发展提出建议；</li>
                        <li>4、各类技术方案及标书的撰写。</li>
                    </ul>
                </div>
                 <div class="employ-txt">
                    <b>任职资格要求</b>
                    <ul>
                        <li>1、本科以上学历，2年以上工作经历；</li>
                        <li>2、具有IT行业背景、懂互联网；</li>
                        <li>3、具备较强的文字表达能力和演讲能力，工作细致并富有耐心；</li>
                        <li>4、具有较强的综合分析能力，抗压力强，适应经常出差；</li>
                        <li>5、具有良好的服务意识、职业素养和团队合作精神。</li>
                    </ul>
                </div>  
            </div>
            <div class="qdkf-content  e-content" style="display:none;">
                <h2>前端开发工程师</h2>
                <div class="employ-txt">
                    <b>岗位要求</b>
                    <ul>
                        <li>1、精通HTML、HTML5、CSS3、Javascript等Web前端开发技术, 掌握主流浏览器版本兼容技术；</li>
                        <li>2、熟悉Web2.0标准；了解DOM、XML、JSON等相关技术；</li>
                        <li>3、熟悉运用常见JS开发框架，如JQuery，能快速高效实现各种交互效果；</li>
                        <li>4、有相应的手机Web APP相关作品者优先。</li>
                    </ul>
                </div> 
            </div>
            <div class="java-content  e-content" style="display:none;">
                <h2>JAVA开发工程师</h2>
                <div class="employ-txt">
                    <b>岗位职责</b>
                    <ul>
                        <li>1、根据公司标准软件过程，分析系统需求，实现技术解决方案 ；</li>
                        <li>2、依据产品需求，进行技术编码、调试、单元测试；</li>
                        <li>3、支持测试部门和现场客户的问题解决。</li>
                    </ul>
                </div>
                 <div class="employ-txt">
                    <b>任职资格要求</b>
                    <ul>
                        <li>1、男，2年以上JAVA开发经验；</li>
                        <li>2、精通JAVA语言、熟悉JSP、Servlet、EJB, JDBC开发技术，熟悉MVC开发模式；</li>
                        <li>3、熟悉HTML/CSS/JavaScript/Ajax 技术以及至少一种AJAX开发框架；</li>
                        <li>4、熟悉MySQL或Oracle数据库及相关开发技术；</li>
                        <li>5、良好的表达沟通能力，独立工作能力强。</li>
                    </ul>
                </div>  
            </div>
            <div class="rjssgc-content  e-content" style="display:none;">
                <h2>软件实施工程师</h2>
                <div class="employ-txt">
                    <b>岗位职责</b>
                    <ul>
                        <li>1、负责现场的软件安装、调测等各种技术支持工作；</li>
                        <li>2、接收和协助解决客户遇到的各类现场技术问题，及时准确的把现场信息反馈给销售和研发部门；</li>
                        <li>3、负责软件配置清单的制作；</li>
                        <li>4、负责方案建议书中技术方案部分的编制；</li>
                        <li>5、支持市场和销售部门，为客户和工程人员提供相关培训；</li>
                        <li>6、技术实施文档的整理；</li>
                        <li>7、快捷准确并按技术支持经理需求提供所有报告、数据，如周工作计划/报告等。</li>
                    </ul>
                </div>
                 <div class="employ-txt">
                    <b>任职资格要求</b>
                    <ul>
                        <li>1、男，计算机或相关专业，大学专科或以上学历；</li>
                        <li>2、具备良好的软件和网络基础知识,熟悉网络协议；</li>
                        <li>3、熟悉windows，linux操作系统常用命令，熟悉oracle数据库操作；</li>
                        <li>4、具备良好的客户服务意识、沟通协调能力和团队精神；</li>
                        <li>5、有较强的抗压能力，适应经常出差；</li>
                        <li>6、有运维工作经验者优先。</li>
                    </ul>
                </div>  
            </div>
            <p class="jianli"><b>投送简历：</b><a href="mailto:hr@cairenhui.com">hr@cairenhui.com</a></p>  
        </div>
    </div>
 </div>
<script type="text/javascript">
$(document).ready(function(){ 
    $('.zhaopin').addClass('checked');
});
 </script>
{% include footer.html %}