---
title: 杭州财人汇网络有限公司 - No.1证券互联网金融整体解决方案提供商
---

{% include head.html %}
{% include header.html %}
  <div class="lunbo_wrap">
      <ul class="lunbo">
        <li class="lunbo1"></li>
      </ul>
  </div>
  <div class="content">
    <div class="center-cont">
      <img src="../images/content.png">
      <div class="introduce">
        <span>才华 + 激情 + 不妥协的态度，造就真正的领跑者</span>
        <span class="yhty">更好的用户体验，源自多年的互联网产品经验</span>
        <span>金融IT行业历练出身，全面保障技术和服务品质</span>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(){ 
      $('.shouye').addClass('checked');
  });
  </script>
{% include footer.html %}