---
title: 公司介绍 - 杭州财人汇网络有限公司
---

{% include head.html %}
{% include header.html %}
  <div class="intro-content">
    <div class="banner"></div>
    <div class="main">
      <h1>公司介绍</h1>
      <p class="company-intr">杭州财人汇网络有限公司成立于2011年3月，核心骨干是国内第一批垂直互联网金融社区创办者之一，团队成员来自于恒生电子、同花顺、UT斯达康等知名企业。激情和活力让我们聚集在一起，用我们的专业实力和创新精神，助力中国证券互联网金融的高速发展。</p>
      <div class="introduce-txt">
        <h2><span class="jinrong"></span>证券互联网金融服务</h2>
        <p>我们致力于为证券机构提供互联网金融整体解决方案，平台横跨移动和PC端，业务涵盖网上开户、业务办理、产品商城、理财融资、账户管理、金融社区等，全面打造提供优质体验的券商互联网金融前台业务平台。公司承建了海通证券、中金公司、财通证券、财富证券、浙商证券、国金证券、东吴证券、西南证券等多家券商的网上开户系统、网上营业厅、手机开户、手机网厅、网上商城等多个项目。</p>
        <h2><span class="licai"></span>垂直理财社区</h2>
        <p>定位于面向网络投资人群，结合论坛、贴吧、博客、即时通讯等社区形式、融合专业理财服务、构建理财社交关系，实现“金融社交、乐趣理财”的新一代互动理财平台。</p>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function(){ 
      $('.jieshao').addClass('checked');
  });
  </script>
{% include footer.html %}