<div class="site-footer">
  <div class="footre-inner clearfix">
    <div>
      <p class="footer-t">联系电话</p>
      <p class="footer-txt">0571-86602304<span>商务合作</span></p>
      <p class="footer-txt">0571-86602321<span>公司总机</span></p>
    </div>
    <div class="email">
      <p class="footer-t">电子邮箱</p>
      <p class="footer-txt"><a href="mailto:bd@cairenhui.com">bd@cairenhui.com</a><span>商务</span></p>
      <p class="footer-txt"><a href="mailto:hr@cairenhui.com">hr@cairenhui.com</a><span>招聘</span></p>
    </div>
    <div>
      <p class="footer-t">传真</p>
      <p class="footer-txt">0571-86602313</p>
    </div>
  </div>
  <div class="copy-content">
    <div>
      <span class="copy">杭州财人汇网络有限公司 版权所有 ©  浙B2-20110330-1</span>
      <span class="address">浙江省杭州市滨江区江南大道142号江南星座2幢C座402室</span>
    </div>
  </div>
</div>
