<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta http-equiv="X-UA-Compatible" content="edge">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords" content="财人汇 股票开户 证券开户 网上开户 手机开户 网上营业厅 理财产品商城 金融理财社区">
	<meta name="description"content="财人汇公司致力于为证券机构提供互联网金融整体解决方案，平台横跨移动和PC端，业务涵盖网上开户、业务办理、产品商城、理财融资、账户管理、金融社区等，全面打造提供优质体验的券商互联网金融前台业务平台。">
	<link rel="stylesheet" href="{{ site.static }}/css/main.css" media="screen">
	<!--[if lt IE 9]>
		<script src="../javascripts/html5shiv.js"></script>
	<![endif]-->
	<script src="{{ site.static }}/javascript/jquery.js"></script>
	<script src="{{ site.static }}/javascript/dev.js"></script>
</head>