<div class="site-header">
  <div class="wrapper clearfix">
  	<div class="wrapper-content">
	    <img src="../images/logo.png">
	    <p class="main-link clearfix" id="header_link">
	    	<a class="shouye" href="index.html">首页</a>
	    	<a class="jieshao" href="introduce.html">公司介绍</a>
	    	<a class="zhaopin" href="employ.html">招贤纳士</a>
	    	<a class="anli" href="case.html">客户案例</a>
	    	<a class="last" href="http://www.51cailai.com/" target="_blank">财来网</a>
	    </p>
    </div>
  </div>
</div>
