.employ-content {
	position: relative;
	width: 100%;
	height: auto;
	.banner {
		position: relative;
		width: 1000px;
		height: 123px;
		margin: 65px auto 25px auto;
		background: url(../images/zhaopin.jpg) center 0px no-repeat;
	}
	.main {
		width: 815px;
		height: auto;
		margin: 0px auto;
		padding-bottom: 50px;
		.left-content {
			float: left;
			h1 {
				color: #f46414;
				font-size: 28px;
				font-weight: bold;
				padding-bottom: 30px;
			}
			ul {
				li {
					height: 40px;
					line-height: 40px;
					width: 200px;
					margin-bottom: 15px;
					a {
						display: block;
						color: #282828;
						font-size: 16px;
						padding-left: 15px;
						text-decoration: none;
					}
					a:hover {
						background: #f46414;
						color: #fff;
					}
					a.current {
						background: #f46414;
						color: #fff;
					}
				}
			}
		}
		.right-content {
			float: right;
			width: 564px;
			min-height: 460px;
			padding-left: 50px;
			border-left: 1px solid #f46414;
			h2 {
				color: #f46415;
				font-size: 20px;
				padding-bottom: 30px;
			}
			.employ-txt {
				color: #3e3e3e;
				font-size: 13px;
				b {
					font-size: 14px;
					height: 40px;
					line-height: 40px;
				}
				ul {
					padding-bottom: 30px;
					li {
						line-height: 26px;
					}
				}
			}
			.jianli {
				font-size: 14px;
				color: #3e3e3e;
				a {
					text-decoration: underline;
					color: #120ed8;
				}
			}
		}
	}
}