.intro-content {
	position: relative;
	width: 100%;
	height: auto;
	.banner {
		position: relative;
		width: 1000px;
		height: 121px;
		margin: 65px auto 0 auto;
		background: url(../images/introduce.jpg) center 0px no-repeat;
	}
	.main {
		width: 815px;
		margin: 35px auto 0px auto;
		height: auto;
		padding-bottom: 80px;
		h1 {
			color: #f46415;
			font-size: 28px;
			margin-bottom: 10px;
			font-weight: bold;
		}
		.company-intr {
			color: #3e3e3e;
			font-size: 13px;
			line-height: 26px;
			text-indent: 2em;
		}
		.introduce-txt {
			h2 {
				color: #f46415;
				font-size: 20px;
				margin-top: 30px;
				span {
					display: inline-block;
					width: 58px;
					height: 58px;
					vertical-align: middle;
					margin-right: 20px;
				}
				.jinrong {
					background: url(../images/jinrong.png) 0px 0px no-repeat;
				}
				.licai {
					background: url(../images/shequ.png) 0px 0px no-repeat;
				}				
			}
			p {
				color: #3e3e3e;
				font-size: 13px;
				line-height: 26px;
				padding-left: 78px;
			}
		}
	}
}